<!--
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>
-->
<app-header [titulo]="this.alert"></app-header>

<ion-content padding>

  <ion-button (click)="presentAlert()" expand="full" color="primary">
    Mostrar Alerta
  </ion-button>
  
  <ion-button (click)="presentAlertPrompt()" expand="full" color="primary">
      Ingresar Campo
  </ion-button>

</ion-content>
